.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.text-h-center {
  text-align: center;
  vertical-align: middle;
}

.article {
  background-image: url("/assets/img/article22.jpg");
  background-size: 430px;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project {
  background-image: url("/assets/img/project.jpg");
  background-size: 420px;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music {
  background-image: url("/assets/img/music.jpg");
  background-size: 420px;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnnn {
  border: none;
  background-color: white;
  width: 20ch;
  height: 6ch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down {
  background-color: rgb(207, 229, 238);
  height: 8ch;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  text-align: right;
  font-weight: 800;
  font-family: "微軟正黑體", sans-serif;
}

.born {
  display: inline-block;
}

.gotopgtn{
    position:fixed;
    width: 50px;
    height: 50px;
    background: #27ae60;
    text-decoration: none;
    bottom: 40px;
    right: 50px;
}

#scrolltotop{
    position:fixed ;
    right: 15px;
    bottom: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 10px black;
    color: gray;
    border: none;
    outline: none;
    cursor: pointer;
}
